body {
  background-color: #1f1f27;
}

.navbar-bg {
	background-color: mistyrose;
}

.nav-item {
  width: 3rem;
}

.colorDeFondo {
  background-color: black;
}

h1 {
  text-align: center;
  border-bottom: 1px solid black;
  width: 100%;
  margin: 1rem;
}

h2{
	text-align: center;
  color: black;
  width: 100%;
}

.carritoInner {
	position: fixed;
	background-color: white;
  height: 100%;
  min-width: 28rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  top: 56.1px;
}

#carrito-svg {
	width: 30px;
	height: 30px;
  cursor: pointer;
}

.carritoBotonBorrar {
  color: white;
}

.pokemensaje img {
	width: 100px;
}

.contenedorPadre {
  padding-top: 4rem;
}

#listaProductos {
  background-color: white;
  border-radius: 10px;
}

.checkoutTotal {
  border-top: 1px solid grey;
}

.listaProductos-producto {
  flex-direction: column;
  width: 250px;
  height: 550;
  margin: 0.5rem;
  padding: 0.8rem;
  border: 2px solid mistyrose;
}

form.form-inline {
	margin-top:  15px;
	margin-bottom: 15px;
}

form.form-inline input.form-control {
	width:  calc(100% - 215px);
}

.toastStyle {
	border-radius: 10px;
}

.cerrado {
	display: none;
}

.precioPesos {
	font-size: 30px;
}

.card-img-top {
	max-width: 300px;
	max-height: 250px;
}

.pokemodalBG {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.pokemensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 225px;
  position: fixed;
  z-index: 3;
  background-color: mistyrose;
  border: 2px solid black;
  box-shadow: 0px 1px 5px 1px black;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}