.navbar-bg {
	background-color: mistyrose;
}

h2{
	text-align: center;
    color: black;
}

.carritoInner {
	position: fixed;
	background-color: mistyrose;
}

#carrito-svg {
	width: 30px;
	height: 30px;
}

img {
	width: 30px;
}

.pokemensaje img {
	width: 100px;
}

.contenedorPadre {
	padding-top: 60px;
}

form.form-inline {
	margin-top:  15px;
	margin-bottom: 15px;
}

form.form-inline input.form-control {
	width:  calc(100% - 215px);
}

.toastStyle {
	border-radius: 10px;
}

.cerrado {
	display: none;
}

.precioPesos {
	font-size: 30px;
}

.card-img-top {
	max-width: 300px;
	max-height: 250px;
}

.pokemodalBG {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.pokemensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 225px;
  position: fixed;
  z-index: 3;
  background-color: mistyrose;
  border: 2px solid black;
  box-shadow: 0px 1px 5px 1px black;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
